/c3p0-0.9.1.2.jar
/activation-1.1.1.jar
/memcached-2.4.2.jar
/h2-1.3.149.jar
/jsr107cache-1.0.jar
/signpost-core-1.2.jar
/commons-beanutils-1.8.3.jar
/log4j-1.2.15.jar
/oval-1.50.jar
/commons-email-1.2.jar
/stax-api-1.0.1.jar
/commons-fileupload-1.2.2.jar
/netty-3.2.4.Final.jar
/commons-javaflow-1066591.jar
/gson-1.6.jar
/hibernate-entitymanager-3.6.0.Final.jar
/cglib-nodep-2.2.jar
/commons-betwixt-0.8.jar
/antlr-2.7.6.jar
/oro-2.0.8.jar
/commons-codec-1.4.jar
/commons-beanutils-core-1.7.0.jar
/ezmorph-1.0.3.jar
/xercesImpl-2.0.2.jar
/ddlutils-1.0.jar
/joda-time-1.6.jar
/commons-logging-api-1.0.4.jar
/commons-lang-2.6.jar
/jaxen-1.1.jar
/javax.inject-1.0.jar
/commons-digester-1.7.jar
/commons-pool-1.2.jar
/jamon-2.7.jar
/xstream-1.3.jar
/groovy-all-1.7.7.jar
/mail-1.4.3.jar
/slf4j-log4j12-1.6.1.jar
/dom4j-1.6.1.jar
/ivy-2.2.0.jar
/bcprov-jdk15-1.45.jar
/junit-4.8.1.jar
/jta-1.1.jar
/wstx-asl-3.0.2.jar
/snakeyaml-1.7.jar
/play-master-2115ef4.jar
/ant-1.6.5.jar
/hibernate-commons-annotations-3.2.0.Final.jar
/hibernate-core-3.6.1.Final.jar
/ehcache-core-2.0.0.jar
/jregex-1.2_01.jar
/commons-collections-3.2.1.jar
/commons-logging-1.1.1.jar
/slf4j-api-1.6.1.jar
/mysql-connector-java-5.1.13.jar
/async-http-client-1.6.3.jar
/geronimo-servlet_2.5_spec-1.2.jar
/hibernate-jpa-2.0-api-1.0.0.Final.jar
/org.eclipse.jdt.core-3.6.0.jar
/commons-io-2.0.1.jar
/commons-dbcp-1.2.1.jar
/javassist-3.9.0.GA.jar
/commons-beanutils-1.7.0.jar
/oro-2.0.8.jar
/msv-20020414.jar
/commons-beanutils-core-1.7.0.jar
/commons-codec-1.3.jar
/ddlutils-1.0.jar
/saxpath-1.0-FCS.jar
/wstx-asl-3.0.2.jar
/stax-api-1.0.1.jar
/relaxngDatatype-20020414.jar
/saxpath-1.0-FCS.jar
/commons-beanutils-1.7.0.jar
/oro-2.0.8.jar
/msv-20020414.jar
/commons-beanutils-core-1.7.0.jar
/commons-codec-1.3.jar
/ddlutils-1.0.jar
/commons-logging-api-1.0.4.jar
/isorelax-20020414.jar
/dom4j-1.4.jar
/commons-lang-2.1.jar
/commons-logging-1.0.4.jar
/commons-collections-3.1.jar
/junit-3.8.1.jar
/commons-dbcp-1.2.1.jar
/commons-digester-1.7.jar
/jaxen-1.0-FCS.jar
/ant-1.6.5.jar
/commons-pool-1.2.jar
/commons-betwixt-0.8.jar
